// styles.less
// needs to be processed into css before deploy
// initialize variables
@base-color: #93ee8b;
@dark-base-color: @base-color - #333333;
@darker-base-color: @dark-base-color - #222222;
@background: #ffffff;
@secondary: #8b93ee;
@menu-font-size: 24px;
@base-font-family: Raleway;
@black: #000000;
@break1: 768px;
@break2: 992px;
@break3: 1200px;
@sidebar1: 218px;
@sidebar2: 233px;
@sidebar3: 283px;
@img-size: 70px;

body,
html {
  background-color: @secondary;
  background-image: url('/img/Dewick.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: @base-font-family;
  height: 100%;
}

hr {
  border-color: @black;
}

td {
  vertical-align: middle !important;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
}

.menu {
  background-color: @base-color;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  height: 100%;
  text-align: right;
}

.menu-item {
  background-color: @base-color;
  border: 0px;
  cursor: pointer;
  cursor: hand;
  font-size: @menu-font-size;
  font-weight: bold;
  &:hover {
    background-color: @dark-base-color;
  }
}

.active {
  background-color: @dark-base-color;
}

.welcome {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-top: 25vh;
  padding: 20px;
  text-align: center;
}

.list-group-item {
  &:first-child {
    border-radius: 0px;
  }
  &:last-child {
    border-radius: 0px;
  }
}

.logo-with-text {
  max-width: 100%;
}

.content {
  background-color: @background;
  padding: 10px;
}

.user-info {
  bottom: 0px;
  max-height: @img-size + 20px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  img {
    margin-right: 10px;
  }
  .username {
    font-weight: bold;
    max-width: 100px;
  }
}

.propic {
  height: @img-size;
  width: @img-size;
}

// .login-btn {
//   top: 25px;
// }

.center {
  margin: 0px auto;
}

// .meal-post {
//   text-align: center;
// }

// .meal-table {
//   width: 100%;
// }

// .img-with-text {
//   img {
//     float: left;
//   }
//   .inner-text {
//     position: relative;
//     left: 10px;
//     top: 24px;
//     margin: 0px;
//   }
// }

.btn-primary {
  background-color: @base-color;
  border-color: @base-color;
  color: @black;
  &:hover {
    background-color: @base-color - #333333;
    border-color: @base-color - #333333;
    color: @black;
  }
  &:active {
    background-color: @base-color;
    border-color: @base-color;
    color: @black;
    &:focus {
      background-color: @base-color - #444444;
      border-color: @base-color - #444444;
      color: @black - #444444;
    }
  }
  &:focus {
    background-color: @base-color;
    border-color: @base-color;
    color: @black;
    &:hover {
      background-color: @base-color - #333333;
      border-color: @base-color - #333333;
      color: @black;
    }
  }
}

// .quick-post {
//   margin-top: 10px;
// }

.cover {
  height: 100vh;
}

@font-face {
  font-family: @base-font-family;
  src: url('/fonts/raleway-regular.eot');
  src: url('/fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: @base-font-family;
  font-weight: bold;
  src: url('/fonts/raleway-semibold.eot');
  src: url('/fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: @base-font-family;
  font-style: italic;
  src: url('/fonts/raleway-extralight.eot');
  src: url('/fonts/raleway-extralight.eot?#iefix') format('embedded-opentype'), url('/fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
}
