<div class="content">
  <span><h1>Post<span class="pull-right"><em>{{date | date: 'h:mm a'}}</em></span></h1>
  </span>
  <hr>
  <form novalidate class="meal-post">
    <br>
    <div class="input-group input-group-lg col-sm-3 center">
      <span class="input-group-addon">Time</span>
      <input class="form-control" type="time" ng-model="PostCtrl.meal.time" placeholder="{{PostCtrl.meal.time}}">
    </div>
    <br>
    <div class="input-group input-group-lg col-sm-6 col-md-4 center">
      <span class="input-group-addon">Swipes to spare:</span>
      <input class="form-control" type="number" ng-model="PostCtrl.meal.numSwipes">
    </div>
    <br>
    <div class="text-center">
      <h3>Dining hall:</h3>
      <div class="radio">
        <label>
          <input name="hall" type="radio" ng-model="PostCtrl.meal.diningHall" value="Carm">Carm</label>
      </div>
      <div class="radio">
        <label>
          <input name="hall" type="radio" ng-model="PostCtrl.meal.diningHall" value="Dewick">Dewick</label>
      </div>
      <br>
      <input class="btn btn-success" type="submit" ng-click="PostCtrl.postMeal()">
      <br>
      <h3><label class="label label-danger" ng-show="PostCtrl.showTimingError">Please select a time in the future.</label></h3>
      <h3><label class="label label-success" ng-show="PostCtrl.showSuccessMsg">Success!</label></h3>
    </div>
  </form>
</div>
